#app {
    max-width:500px ;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 20px;
    font-family: sans-serif ;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background: #efefef;

}

form > *  {
    margin: 0 0 10px 0;
}
form input:first-child, .filter input {
    height: 30px;
}

textarea {
    height: 65px;
}

form input:last-of-type {
    width: 80px;
    color: white;
    background: #40a8df;
    border-radius: 5px;
    height: 35px;
    border: none;
    margin-left: auto;
}

.filter, ul{
    width: 90%;
    background: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
.filter{
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
}
ul {
    border: 1px solid #efefef;
    border-top: none;
}


li {
    list-style: none;
    margin-bottom: 15px;
}
img {
    height: 60px;
    width: 60px;
    border-radius: 3px;
}

.massage-text {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
    max-width: 85%;
}

h2, p{
    margin: 5px 0;
    word-wrap: break-word;
}

h2 {
    font-size: 20px;
}

